<div class="container-fluid">
  <div class="container_wrp">
    <h1 class="title_text">Edit User<a ui-sref="admin" class="back_user_admin_btn">Back to user admin <i class="fa fa-chevron-right"></i></a></h1>
    <div class="user_box_wrp user_admin_edit_box">
      <form action="">
        <div class="top_active_row">
          <h2 class="name_title">{{ $ctrl.user.usuario }}</h2>
          <span class="top_active">
								<!-- <span class="top_active_toggle">Active</span> -->
          <label class="switch_toggle active">
									<input type="checkbox" checked>
									<div class="switch_icon"></div>
								</label>
          </span>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <label for="role" class="label_left">Role</label>
          <div class="col_right">
            <div class="DivSelectyze option1">
              <a href="#" rel="" class="selectyzeValue" ng-click="$ctrl.showSelect = !$ctrl.showSelect">{{ $ctrl.selectedRole.usu }}</a>
              <ul class="UlSelectize" ng-class="{'slideSelectDown': $ctrl.showSelect}">
                <li ng-repeat="role in $ctrl.user.usuBusPaisList track by $index" ng-click="$ctrl.selectedRole = role; $ctrl.showSelect = !$ctrl.showSelect">
                  <a rel="" href="#">{{ role.usu }}</li>
              </ul>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <label for="uid" class="label_left">uid</label>
          <div class="col_right">
            <input type="text" name="" id="uid" ng-model="$ctrl.user.rol.idrol" />
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <label for="email" class="label_left">E-Mail</label>
          <div class="col_right">
            <input type="email" name="" id="email" ng-model="$ctrl.user.email" />
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="form-group">
          <label>Select segment/countries</label>
          <div class="segment_countries_box">
            <div class="segment_search_box search_box">
              <input type="text" name="" id="myInput" onkeyup="myFunction()" placeholder="Select.." />
              <button class="search_btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
              <ul id="myUL">
                <li><a href="#" class="header">A</a></li>
                <li><a href="#">Adele</a></li>
                <li><a href="#">Agnes</a></li>

                <li><a href="#" class="header">B</a></li>
                <li><a href="#">Billy</a></li>
                <li><a href="#">Bob</a></li>

                <li><a href="#" class="header">C</a></li>
                <li><a href="#">Calvin</a></li>
                <li><a href="#">Christina</a></li>
                <li><a href="#">Cindy</a></li>
              </ul>
            </div>
            <div class="country_search_box search_box">
              <input type="search" name="" id="" placeholder="Type country..." />
              <button class="search_btn" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
            <button class="add_btn" type="button">Add</button>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="cancel_update_row">
          <button class="cancel_btn" type="button">Cancel</button>
          <button class="update_btn" type="button">Update</button>
        </div>
      </form>
    </div>
  </div>
</div>